body {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 45px;
    margin-bottom: 10px;
    text-align: left;
}
.form-inline {
    margin-top: 30px;
}
.form-inline .form-group {
    display: flex;
    margin-bottom: 20px;
    vertical-align: middle;
}
.form-control{
    display: inline-block;
}
label {
    display: flex;
    /*max-width: 100%;*/
    width: 51px;
    margin-bottom: 5px;
    font-weight: 700;
    margin-right: 20px;
}
.col-md-8 .input-group{
    margin-top: 30px;
}
.col-md-6 .input-group{
    margin-top: 30px;
    margin-left: 40px
}

/*±à¼­¿ò*/
.content{
    margin-bottom: 20px;
    margin-left: 50px;
    position: relative;
}
.content .btn-primary{
    margin-left: 150px;
}
.btn-lg{
    margin-top: 20px;
}
.chooseContent{
    width: 670px;
    position: relative;
    margin-bottom: 20px;
}
.form-group .form-choosemain{
    width: 600px;
    height: 100px;
}
.readingContent{
    width: 670px;
    position: relative;
    margin-bottom: 20px;
}
.form-group .form-readingmain{
    width: 600px;
    height: 400px;
}
.clozeContent{
    width: 670px;
    position: relative;
    margin-bottom: 20px;
}
