body {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 45px;
    margin-bottom: 10px;
    text-align: left;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 35px;
}
table tr .actions{
    display: none;
}
table tr.hover .actions{
    display:inline-block;
}
.form-inline .form-control {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
    margin-top: 30px;
}
.child{
    height: 300px;
    display: none;
}