body {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 45px;
    margin-bottom: 10px;
    text-align: left;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 35px;
    margin-left: 35px;
}
.form-inline {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 250px;
}
.form-inline .form-group {
    display: flex;
    margin-bottom: 20px;
    vertical-align: middle;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-right: 20px;
}
.form-inline .form-control {
    display: inline-block;
    width: 400px;
    vertical-align: middle;
}
.form-group .form-infoClass {
    width: 200px;
}
textarea.form-control {
    height: 200px;
}
.btn-default {
    color: #FFF;
    background-color: #245580;
    border-color: #CCC;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0p;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 6px;
    margin-top: 0;
}
/**/
.container{
    text-align: center;
}