body {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 45px;
    margin-bottom: 10px;
    text-align: left;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 35px;
    margin-left: 35px;
}
table tr .actions{
    display: none;
}
table tr.hover .actions{
    display:inline-block;
}
.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
    margin-top: 30px;
}
.child{
    height: 300px;
    display: none;
}
.content{
    margin: 20px 100px;
}
.member{
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}